#board-nums {
    border-right: 2px solid #ffffff;
    float: left;
    height: 560px;
    text-align: center;
    width: 80px;
}

body {
    color: #ffffff;
}

#header {
    border-bottom: 2px solid #ffffff;
    height: 20px;
}

#number-header {
    float: left;
    height: 20px;
    width: 80px;
}

.nums {
    height: 80px;
    width: 80px;
}

.player-headers {
    float: left;
    height: 20px;
    text-align: center;
    width: 80px;
}

.player-scores {
    float: left;
    height: 560;
    text-align: center;
    width: 80px;
}

.score {
    height: 80px;
    width: 80px;
}

#scoreboard {
    background: #005a40;
    border-radius: 5px;
    height: 580px;
    margin: 10px auto 0px auto;
}